<configuration>
  <appender name="stderr"
            class="ch.qos.logback.core.ConsoleAppender">
    <target>System.err</target>
    <encoder>
      <pattern>%date{HH:mm:ss.SSS} | %-12.12thread | %-5level | %-40.40logger{30} - %message%n</pattern>
    </encoder>
  </appender>

  <root level="warn">
    <appender-ref ref="stderr" />
  </root>
</configuration>